@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    width: 0px;
  }
  
  @font-face {
    font-family: 'SF Pro';
    src: url('./assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'SF Pro', sans-serif;
}
